
.data-table-container{
  margin: auto;
  max-width: 1000px;
}
.data-table {
  border-collapse: collapse;  
  width: 100%;
}
.data-table td{
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.data-table thead th{
  border: 1px solid #ccc;
  padding: 5px;
}
